
.hero-section::after {
    display: none;
}

.navbar {
    background-color: #121212 !important;
    color: #B0B0B0 !important;
}

.navbar .navbar-brand {
    color: #B0B0B0 !important;
}

.navbar .nav-link {
    color: #B0B0B0 !important;
}

.hero-section h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(143, 55, 55, 0.7);
    font-weight: bold;
    position: relative;
    z-index: 1;
}

body {
    background-color: #444444;
}

